.updateSelected{
    border: 1px solid #f2f2f2;
    border-radius: 0.25rem;
    /* background: none; */
    padding: 14px;
    outline: none;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.table label{
    width: 100%;
}
.btn-wrapper{
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}
.x_content .table-responsive{
    overflow-x: unset !important;
}

.links .shadow-sm
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.links .leading-5{*/
/*    display: none;*/
/*}*/
