.updateSelected{
    border: 1px solid #f2f2f2;
    border-radius: 0.25rem;
    /* background: none; */
    padding: 14px;
    outline: none;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.table label{
    width: 100%;
}
.btn-wrapper{
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}
.x_content .table-responsive{
    overflow-x: unset !important;
}

.links .shadow-sm
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.links .leading-5{*/
/*    display: none;*/
/*}*/

.action-btn{
    padding-top: 15px;
    margin-left: 15px;
    font-size: 16px;
    letter-spacing: .5px;
    border-bottom: 1px solid ;
    background: unset;
    border: none;
    color: #5A738E;
}
.input-wrapper label{
    width: 100%;
}
.row-wrapper{
    margin-bottom: 50px;
    border-bottom: 2px solid;
}
.input-wrapper{
    margin-bottom: 10px;
}
.form-title{

}

.search-input{
    width: 80%;
    border: unset;
    border-bottom: 2px solid;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-box p{
    margin-bottom: 0;
}
.product h2{
    font-size: 15px;
    padding-left: 20px;
    margin-top: 15px;
}

#list-container{
    margin-left: 142px;
    padding-top: 20px;
}
.table-wrapper{
    border: 1px solid;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0.25rem;
}
.accordion-toggle{
    /* border: 1px solid; */
    padding: 2px !important;
    /* border-radius: 0.25rem; */
    margin-bottom: 20px;
    border-bottom: 2px solid;
    outline: none !important;
}

.links nav .flex{
    display: none !important;
}
