  @font-face{
    font-family: 'inter';
    src: url(../fonts/inter/Inter-Light.ttf) format('truetype');
    font-weight: 300;
  }
  @font-face{
    font-family: 'inter';
    src: url(../fonts/inter/Inter-Regular.ttf) format('truetype');
    font-weight: 400;
  }
  @font-face{
    font-family: 'inter';
    src: url(../fonts/inter/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
  }
  @font-face{
    font-family: 'inter';
    src: url(../fonts/inter/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
  }
  @font-face{
    font-family: 'inter';
    src: url(../fonts/inter/Inter-Bold.ttf) format('truetype');
    font-weight: 700;
  }
  /* icons */
  @font-face{
    font-family: 'icons';
    src: url(../fonts/icons/fa-light-300.ttf) format('truetype');
    font-weight: 300;
  }
  @font-face{
    font-family: 'icons';
    src: url(../fonts/icons/fa-regular-400.ttf) format('truetype');
    font-weight: 400;
  }
  @font-face{
    font-family: 'icons';
    src: url(../fonts/icons/fa-solid-900.ttf) format('truetype');
    font-weight: 900;
  }